@font-face {
    font-family: 'maven_proregular';
    src: url('../fonts/maven_pro_regular-webfont.eot');
    src: url('../fonts/maven_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/maven_pro_regular-webfont.woff') format('woff'),
         url('../fonts/maven_pro_regular-webfont.ttf') format('truetype'),
         url('../fonts/maven_pro_regular-webfont.svg#maven_proregular') format('svg');
         font-weight:normal;
         font-style:normal
}

* {
font-family: 'maven_proregular', sans-serif;
}

.css-form input.ng-invalid.ng-dirty {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,
                box-shadow ease-in-out .15s;
}

.css-form select.ng-invalid.ng-dirty {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,
                box-shadow ease-in-out .15s;
}

.css-form input.ng-valid.ng-dirty {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,
                box-shadow ease-in-out .15s;
}

.css-form input.ng-valid.ng-dirty:focus {
    border-color: #3c763d;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168
}

.css-form input.ng-invalid.ng-dirty:focus {
    border-color: #a94442;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483
}

.context-menu {
    cursor: context-menu !important;
    background-color: white !important;
}

.custom-navbar {
    background-color: #164677;
    border-color: #080808;
}

.custom-navbar .navbar-nav>li>a {
    color: #CDDDEB;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -ms-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
}
.custom-navbar .navbar-brand {
    color: #CDDDEB;
}

.custom-navbar .navbar-nav>.open>a, .custom-navbar .navbar-nav>.open>a:hover, .custom-navbar .navbar-nav>.open>a:focus {
    background-color: #0368b1;
    color: #FFFFFF;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -ms-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
}

.custom-navbar .navbar-nav>li>a:hover, .custom-navbar .navbar-nav>li>a:focus, .custom-navbar .navbar-nav>li>a:active {
    color: #CDDDEB;
    background-color: #0368b1;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -ms-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
}

.custom-navbar .navbar-nav>.active>a, .custom-navbar .navbar-nav>.active>a:hover, .custom-navbar .navbar-nav>.active>a:focus {
    color: #CDDDEB;
    background-color: #0368b1;
}


.powered-by>a {
    margin-left: 5px;
    margin-right: 12px;
}

.custom-navbar .powered-by {
    color: #CDDDEB;
    padding-top: 7px;
}

.powered-by {
    padding-top: 7px;
    padding-left: 15px;
}

.custom-navbar .navbar-toggle:hover, .custom-navbar .navbar-toggle:focus {
    background-color: #333;
}

.custom-navbar .navbar-toggle {
    border-color: #333;
}

.custom-navbar .navbar-toggle .icon-bar {
    background-color: #cdddeb;
}

.navbar-fix {
    margin-right: 0;
}


@media (max-width: 767px) {

    .custom-navbar .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
        color: #cdddeb;
        text-decoration: none;
        background-color: #0368b1;
    }

    .custom-navbar .dropdown-menu>li>a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #cdddeb;
        white-space: nowrap;
    }
}

.inputdemoErrors .inputErrorsApp {
    min-height: 48px; }

.inputdemoErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%; }

.profile-menu {
    position:relative;
    width:80px; height:55px;
    margin:0 auto;
    overflow:hidden;
}
.profile-menu:after{
    content:'';
    position:absolute;
    left:15px; top:2px;
    border-radius:100%;
    width:50px; height:50px;
    box-shadow: 0px 0px 0px 200px #164677;
}