<div class="navbar custom-navbar navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <b>proskar-angular-template</b>
            </a>

        </div>
        <div class="navbar-collapse collapse" collapse="navbarCollapsed">
            <ul class="nav navbar-nav">
                <li><a href="#login">Login</a></li>
                <li><a href="#test">Test</a></li>
            </ul>
            <div style="float: right; color: white">
                <div ng-if="$root.user == undefined">
                    <md-menu md-position-mode="target-right target">
                        <md-button ng-click="$mdOpenMenu($event)">
                            <md-item-content layout="row" layout-align="start center">
                                zaloguj
                            </md-item-content>
                        </md-button>
                        <md-menu-content width="4">
                            <md-content layout-padding layout="row">
                                <div style="width: 100%;">
                                    <md-input-container flex>
                                        <label>Login</label>
                                        <input ng-model="vm.username">
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>Hasło</label>
                                        <input ng-model="vm.password" type="password">
                                    </md-input-container>
                                    <md-checkbox flex ng-model="vm.rememberMe">Zapamiętaj mnie
                                    </md-checkbox>
                                    <md-button flex class="md-raised md-primary" ng-click="vm.login()" layout="row"
                                               layout-align="center end">Zaloguj
                                    </md-button>
                                </div>
                            </md-content>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div ng-if="$root.user != undefined">
                    <md-menu md-position-mode="target-right target">
                        <md-button ng-click="$mdOpenMenu($event)">
                            <md-item-content layout="row" layout-align="start center">
                                {{$root.user.name}}
                                <i style="margin-left: 15px;" class="material-icons">insert_emoticon</i>
                            </md-item-content>
                        </md-button>
                        <md-menu-content width="4">
                            <md-content layout-padding layout="row">
                                <div style="width: 100%;">
                                    <md-menu-item>
                                        <md-button ng-click="">
                                            <div layout="row" flex>
                                                <p flex>Moje konto</p>
                                                <i md-menu-align-target style="margin: auto 3px auto 0;" class="material-icons">perm_identity</i>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-show="hasRole('adminRole')">
                                        <md-button ng-click="">
                                            <div layout="row" flex>
                                                <p flex>Panel administracyjny</p>
                                                <i md-menu-align-target style="margin: auto 3px auto 0;" class="material-icons">dashboard</i>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="$root.logout()">
                                            <div layout="row" flex>
                                                <p flex>Wyloguj</p>
                                                <i md-menu-align-target style="margin: auto 3px auto 0;" class="material-icons">power_settings_new</i>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                </div>
                            </md-content>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </div>
    </div>
</div>
