<div class="page-header">
    <h2>Logowanie</h2>
</div>

<div class="row">
    <md-content layout-padding layout="row">
        <div layout-lg="column" flex="60">
            <md-input-container class="md-block">
                <label>Login</label>
                <input ng-model="username">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Hasło</label>
                <input ng-model="password" type="password">
            </md-input-container>
            <md-checkbox ng-model="rememberMe" class="md-block">Zapamiętaj mnie
            </md-checkbox>
            <md-button class="md-raised md-primary" class="md-block" ng-click="login()" layout="row" layout-align="center end">Zaloguj</md-button>
        </div>
    </md-content>
</div>